/* Add your CSS code below */

.messages a {
    font-weight: bold;
    color: red;
    text-decoration: none;
}

.message__time {
    font-size: 0.9rem;
}

.message--unread {
    border-left: 4px solid blue;
}

.message:first-child {
    opacity: 0.5;
}

.message__content {
    line-height: 200%;
}

