/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}

.pages__showing {
  padding-top: 0;
}

.country {
  margin-bottom: 10px;
}
